<!DOCTYPE html>
<html lang="en-AU">

<head>
	<title>{{ site.name }}</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="og:job" content="{{ site.name }}">
	<meta name="twitter:job" content="{{ site.name }}">
	<meta name="description" content="The website of {{ site.name }}{% for job in jobs %}, {{ job }}{% endfor %}">
	<meta name="og:description" content="The website of {{ site.name }}{% for job in jobs %}, {{ job }}{% endfor %}">
	<meta name="keywords" content="{{ site.name }}{% for job in jobs %}, {{ job }}{% endfor %}{% for keyword in site.keywords %}, {{ keyword }}{% endfor %}">
	<meta name="author" content="{{ site.name }}">

	<link href="css/style.css" rel="stylesheet">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="alternate" type="application/rss+xml" title="Blog | Andrew St Clair" href="/feed.xml"/>

	<script src="https://use.typekit.net/tea2qzw.js"></script>
	<script>try { Typekit.load({ async: true }); } catch (e) { }</script>
</head>

<body>
	<main>
		<header>
			<h1>{{ site.name }}</h1>
			{% for job in jobs %}
			<h2>{{ job }}</h2>
			{% endfor %}
		</header>
		<footer>
			<ul>
				<li>
					<svg width="48px" height="30px" viewBox="0 0 82 50" version="1.1">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="mark" fill-rule="nonzero" fill="#FFFFFF">
								<polygon id="Triangle-5" opacity="0.6" points="60 15 82 50 38 50"></polygon>
								<path d="M50.4858116,30.1362089 L31.5,0 L0,50 L38,50 L50.4858116,30.1362089 Z"
									id="Combined-Shape"></path>
							</g>
						</g>
					</svg>
				</li>
				{% for link in links %}<li>
					<a href="{{ link[1] }}" target="{{ link[2] }}" rel="noopener noreferrer">{{ link[0] }}</a>
				</li>{% endfor %}
			</ul>
		</footer>
	</main>
</body>

</html>
